.env

# IDE
*.iml
.idea
.vscode

# OS
.DS_Store

# JS
node_modules

# Go
/vendor

# Misc
*.db
*.db-shm
*.db-wal

internal/web/static/assets
# Binary executables
bench
bin/
./server

# Test binaries
*.test

data/*