# Configuration files (may contain secrets)
.env
config.toml
*.local.toml

# IDE
*.iml
.idea
.vscode

# OS
.DS_Store

# JS
node_modules
web/wailsjs/
web/package.json.md5

# Go
/vendor

# Misc
*.db
*.db-shm
*.db-wal

internal/web/static/assets

# Binary executables
bench
bin/

# Test binaries
*.test

data/*

config.toml
